@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, sans-serif;
  @apply text-slate-900 bg-gray-300 dark:text-gray-300  dark:bg-slate-800;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.popularityMeter {
  animation: dash 750ms ease forwards;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(-95deg);
}

@keyframes dash {
  from {
    stroke-dashoffset: 115;
  }
}

.abs-center {
  @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

/* Scrollbar styles - Simple style from  https://codepen.io/aurer/pen/kGRNVw?editors=1100 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
  }
  ::-webkit-scrollbar-thumb:hover{
  	background: rgba(0,0,0,0.4);
  }
  ::-webkit-scrollbar-thumb:active{
  	background: rgba(0,0,0,.9);
  }

  