.layoutGrid {
    grid-template-areas: 
        'header header header'
        'main main footer'
    ;
    grid-template-columns: repeat(3, 1fr);
}

.header {
    grid-area: header;
    @apply flex flex-wrap justify-center xl:justify-between;
}

.main {
    grid-area: main;
    min-height: 100vh;
    @apply bg-gray-300;
}

.footer {
    grid-area: footer;
    @apply p-10 text-center;

}